{% extends 'base.html' %}

{% block content %}
    <h1>create Major PAGE</h1>
   
    <div class="max-w-lg mx-auto">
        <a  href="/">Go back </a>
        <div >
            <h1 >Create a new Major Dis.</h1>
        </div>
        <form method="post" >
            {% csrf_token %}
            <table>
                {{ form }}
            </table>

            <button type='submit'>
                SUBMIT
            </button>
        </form>
    </div>
    <p>This is a template</p>
{% endblock %} 