{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HD System</title>
    <link herf="{%  static 'css/styles.css' %}" rel="stylesheet">

   
</head>
<body>

  <div style="background-color: rgb(197, 197, 197); padding-bottom: 0.5%;">
    <!------ Include the above in your HEAD tag ---------->
    
  
    
     <div style="margin: 1% ;margin-bottom: 0%;background-color: rgb(255, 255, 255);padding: 3%;">
       {% block content %}
        replace me
       {% endblock %} 
     </div>


  </div>
</body>
</html>